@import url(reset.css);

.menu {
    height: 56px;
    padding: 3px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.menu #left-menu {
    width: 146px;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.menu #left-menu #menu-img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.menu #left-menu #logo-yt {
    width: 90px;
    height: 20px;
    flex-shrink: 0;
}

.menu #center-menu {
    width: 404px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
}

.menu #center-menu #search {
    width: 348px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid #CCC;
    background: #FFF;
    border-radius: 8px 0px 0px 8px;
}

.menu #center-menu #lupa {
    width: 57px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid #CCC;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    border-radius: 0px 8px 8px 0px;
}

.menu #center-menu #lupa #lupa-img {
    width: 24px;
    height: 24px;
    align-self: center;
}

.menu #right-menu {
    width: 130px;
    height: 34px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.menu #right-menu #video-img #noti-img #avatar-img {
    width: 24px;
    height: 24px;
}

.video {
    width: 1050px;
    height: 820px;
    gap: 18px;
    margin: 44px 413px 205px 75px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.video #play-video {
    width: 1050px;
    height: 575px;
}

.video #info-video {
    width: 1050px;
}

.video #info-video #tittle-video {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.video #info-video #video-actions {
    width: 910px;
    height: 42px;
    margin-top: 7px;
    display: flex;
    align-items: center;
    gap: 42px;
}

.video #info-video #video-actions #channel-info {
    width: 165px;
    height: 42px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.video #info-video #video-actions #channel-info #channel-avatar {
    width: 42px;
    height: 42px;
}

.video #info-video #video-actions #channel-info #name-sub-channel {
    width: 106px;
    height: 32px;
}

.video #info-video #video-actions #channel-info #name-channel {
    font-size: 14px;
    font-weight: 600;
}

.video #info-video #video-actions #channel-info #sub-channel {
    font-size: 14px;
    font-weight: 400;
    color: #515151;
}

.video #info-video #video-actions #sub-button {
    width: 159px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    background-color: #C00;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}