@import url(reset.css);

/*
    header
*/

.menu {
    color: #FFF;
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.menu #left-menu {
    width: 146px;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.menu #left-menu #menu-img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    align-self: center;
}

.menu #left-menu #logo-yt {
    width: 90px;
    height: 20px;
    flex-shrink: 0;
    align-self: center;
}

.menu #center-menu {
    width: 404px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
}

.menu #center-menu #search #search-input {
    width: 348px;
    height: 42px;
    padding: 7px;
    font-size: 17px;
    flex-shrink: 0;
    border: 1px solid #CCC;
    background: #FFF;
    border-radius: 8px 0px 0px 8px;
}

.menu #center-menu #lupa {
    width: 57px;
    height: 42px;
    flex-shrink: 0;
    border: 1px solid #CCC;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    border-radius: 0px 8px 8px 0px;
}

.menu #center-menu #lupa #lupa-img {
    width: 24px;
    height: 24px;
    align-self: center;
}

.menu #right-menu {
    width: 130px;
    height: 34px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.menu #right-menu #video-img #noti-img #avatar-img {
    width: 24px;
    height: 24px;
}

/*
    main
*/

main {
    width: 100%;
    display: flex;
    background: #F9F9F9;
}

main .video {
    width: 1050px;
    height: 780px;
    gap: 16px;
    margin: 30px 413px 205px 75px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

main .video #play-video {
    width: 952px;
    height: 537px;
}

main .video #tittle-video {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    word-spacing: 1px;
}

main .video #video-actions {
    width: 920px;
    height: 42px;
    display: flex;
    align-items: center;
    gap: 44px;
    cursor: pointer;
}

main .video #video-actions #channel-info {
    width: 165px;
    height: 42px;
    display: flex;
    align-items: center;
    gap: 12px;
}

main .video #video-actions #channel-info #channel-avatar {
    width: 42px;
    height: 42px;
}

main .video #video-actions #channel-info #name-sub-channel {
    width: 106px;
    height: 32px;
}

main .video #video-actions #channel-info #name-channel {
    font-size: 14px;
    font-weight: 600;
}

main .video #video-actions #channel-info #sub-channel {
    font-size: 14px;
    font-weight: 400;
    color: #515151;
}

main .video #video-actions #sub-button {
    width: 159px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    background-color: #C00;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

main .video #video-actions #like {
    width: 66px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

main .video #video-actions #like #like-img main .video #video-actions #dislike #dislike-img main .video #video-actions #share #share-img main .video #video-actions #download #download-img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

main .video #video-actions #like #box-txt-like {
    width: 31px;
    height: 16px;
    align-self: center;
}

main .video #video-actions #like #box-txt-like #txt-like {
    font-size: 14px;
    font-weight: 600;
}

main .video #video-actions #dislike {
    width: 105px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

main .video #video-actions #dislike #box-txt-dislike {
    width: 77px;
    height: 16px;
    align-self: center;
}

main .video #video-actions #dislike #box-txt-dislike #txt-dislike {
    font-size: 14px;
    font-weight: 600;
}

main .video #video-actions #share {
    width: 115px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

main .video #video-actions #share #box-txt-share {
    width: 87px;
    height: 16px;
    align-self: center;
}

main .video #video-actions #share #box-txt-share #txt-share {
    font-size: 14px;
    font-weight: 600;
}

main .video #video-actions #download {
    width: 95px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

main .video #video-actions #download #box-txt-download {
    width: 63px;
    height: 16px;
    align-self: center;
}

main .video #video-actions #download #box-txt-download #txt-download {
    font-size: 14px;
    font-weight: 600;
}

main .video #views {
    font-size: 14px;
    font-weight: 600px;
}

main .video #description-video {
    width: 590px;
    height: 45px;
    color: #515151;
    font-size: 14px;
    font-weight: 400;
}

/*
    sidebar
*/

main .playlist-video {
    width: 390px;
    height: 950px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
    margin: 30px 0px 2px -380px;
}

main .playlist-video .video-in-playlist {
    display: flex;
    height: 90px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
}

main .playlist-video .video-in-playlist .thumb-playlist {
    width: 160px;
    height: 90px;
    object-fit: fill;
}

main .playlist-video .video-in-playlist .info-video-playlist {
    width: 199px;
    height: 89px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

main .playlist-video .video-in-playlist .info-video-playlist .tittle-video-playlist {
    font-size: 16px;
    font-weight: 600;
}

main .playlist-video .video-in-playlist .info-video-playlist .name-channel-playlist .views-video-playlist {
    color: #515151;
    font-size: 12px;
    font-weight: 400;
}

main .playlist-video .video-in-playlist .info-video-playlist .views-video-playlist {
    color: #515151;
    font-size: 12px;
    font-weight: 400;
}